<robot name="bauzil_stairs.urdf">
  <link concave="yes" name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 3.1415" xyz="-0.9 1.8 -0.01"/>
      <geometry>
        <mesh filename="bauzil_stairs.stl" scale="1 1 0.3"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 3.1415" xyz="-0.9 1.8 -0.01"/>
      <geometry>
        <mesh filename="bauzil_stairs.stl" scale="1 1 0.3"/>
      </geometry>
    </collision>
  </link>
</robot>