<robot name="bauzil_stairs.urdf">
  <link concave="yes" name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 -0.75" xyz="-1.2 -1.5 -0.01"/>
      <geometry>
        <mesh filename="bauzil_stairs.stl" scale="0.7 1.0 0.5"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 -0.75" xyz="-1.2 -1.5 -0.01"/>
      <geometry>
        <mesh filename="bauzil_stairs.stl" scale="0.7 1.0 0.5"/>
      </geometry>
    </collision>
  </link>
</robot>
